<div class="row">
  <div class="col">
    <nav>
      <a routerLink="home" class="nav-link" routerLinkActive="active">首页</a>
      <a routerLink="monitorinfo" class="nav-link" routerLinkActive="active">监控信息</a>
      <a routerLink="systemconfig" class="nav-link" routerLinkActive="active">系统设置</a>
    </nav>
  </div>
  <div class="col text-right">
    <app-dropdown-menu [menuItem]='configMenuItem' [menuButton]='configMenuButton'>设置</app-dropdown-menu>
    <app-dropdown-menu [menuItem]='userMenuItem' [menuButton]='userMenuButton'>用户</app-dropdown-menu>
    <div class="d-inline-block" *ngIf="user">
      <i>Welcome, {{user}}</i>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

